<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		
        <title>Pecozo - Digital Marketplace HTML Template</title>
		
        <!-- All Plugins Css -->
        <link href="../static/assets/css/plugins.css" rel="stylesheet">
		 

        <!-- Custom CSS -->
        <link href="../static/assets/css/styles.css" rel="stylesheet">
    </head>
	
    <body class="blue-skin">
        <!-- ============================================================== -->
        <!-- Preloader - style you can find in spinners.css -->
        <!-- ============================================================== -->
        <div class="Loader"></div>
		
        <!-- ============================================================== -->
        <!-- Main wrapper - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <div id="main-wrapper">
		
            <!-- ============================================================== -->
            <!-- Top header  -->
            <!-- ============================================================== -->
            <!-- Start Navigation -->
			<div class="header header-light">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 col-md-12 col-sm-12">
							<nav id="navigation" class="navigation navigation-landscape">
								<div class="nav-header">
									<a class="nav-brand" href="#">
										<img src="../static/assets/img/logo.png" class="logo" alt="" />
									</a>
									<div class="nav-toggle"></div>
								</div>
								<div class="nav-menus-wrapper">
									<ul class="nav-menu">
									
										<li class="active"><a href="#">Home<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="index.html" class="active">Home Style 1</a></li>
												<li><a href="home-2.html">Home Style 2</a></li>
												<li><a href="home-3.html">Home Style 3</a></li> 
												<li><a href="home-4.html">Home Style 4</a></li> 
												<li><a href="home-5.html">Home Style 5</a></li> 
												<li><a href="home-6.html">Home Style 6</a></li> 
												<li><a href="home-7.html">Home Style 7</a></li>
											</ul>
										</li>
										
										<li><a href="#">Explore<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="#">Search Product<span class="submenu-indicator"></span></a>
													<ul class="nav-dropdown nav-submenu">
														<li><a href="search-product.html">Search Product By Grid</a></li>                                    
														<li><a href="list-search-product.html">Search Product By List</a></li>  
														<li><a href="search-product-full.html">Search Product 3 Column</a></li>  														
													</ul>
												</li>
												<li><a href="#">Product Detail<span class="submenu-indicator"></span></a>
													<ul class="nav-dropdown nav-submenu">
														<li><a href="item-detail.html">Item Detail 1</a></li>                                    
														<li><a href="item-detail-2.html">Item Detail 2</a></li> 
														<li><a href="item-detail-3.html">Item Detail 3</a></li> 
														<li><a href="photo-detail.html">Photo Detail</a></li> 
														<li><a href="video-detail.html">Video Detail</a></li> 
														<li><a href="font-detail.html">Font Detail</a></li>
														<li><a href="premium-stock-detail.html">Premium Detail</a></li>														
													</ul>
												</li>
												<li><a href="#">User Admin<span class="submenu-indicator"></span></a>
													<ul class="nav-dropdown nav-submenu">
														<li><a href="add-to-cart.html">Add To Cart</a></li>
														<li><a href="billing.html">Billing</a></li>
														<li><a href="confirmation.html">Confirmation</a></li>
														<li><a href="dashboard.html">Dashboard</a></li>
													</ul>
												</li>
											</ul>
										</li>
										
										<li><a href="#">Pages<span class="submenu-indicator"></span></a>
											<ul class="nav-dropdown nav-submenu">
												<li><a href="about.html">About Us</a></li> 
												<li><a href="blog.html">Blogs Page</a></li>                                    
												<li><a href="blog-detail.html">Blog Detail</a></li>                                     
												<li><a href="pricing.html">Pricing</a></li>  
												<li><a href="faq.html">FAQ's</a></li>
												<li><a href="signup.html">Signup</a></li>
												<li><a href="login.html">LogIn</a></li> 
											</ul>
										</li>
										
										<li><a href="contact.html">Contacts</a></li>
										
									</ul>
									
									<ul class="nav-menu nav-menu-social align-to-right">
										
										<li>
											<a href="javascript:void(0);" onclick="openRightMenu()" class="urip_list_cart">
												<i class="fa fa-shopping-cart"></i><span class="urip_product_count">4</span>
											</a>
										</li>
										<li class="add-listing green-bg">
											<a href="#" data-toggle="modal" data-target="#login">
												 <i class="ti-user mr-1"></i> Sign in
											</a>
										</li>
									</ul>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<!-- End Navigation -->
			<div class="clearfix"></div>
			<!-- ============================================================== -->
			<!-- Top header  -->
			<!-- ============================================================== -->
			
			<!-- ============================ Item Detail Start ================================== -->
			<section class="gray-light">
				<div class="container">
					<div class="row">
						
						<div class="col-lg-8 col-md-12 col-sm-12">
							
							<div class="_uy76_title">
								<h1>Odex - Online Organic Food & Grocery Store</h1>
								<nav aria-label="breadcrumb">
								  <ol class="breadcrumb light">
									<li class="breadcrumb-item"><a href="javascript:void(0)"><i class="fa fa-home"></i></a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0)">Files</a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0)">HTML Templates</a></li>
									<li class="breadcrumb-item"><a href="javascript:void(0)">Corporate</a></li>
									<li class="breadcrumb-item active" aria-current="page">Business</li>
								  </ol>
								</nav>
							</div>
							<div class="_uy76_gallery light">
								<img src="assets/img/browse.webp" class="img-fluid" alt="">
							</div>
							<div class="_uy76_buttons">
								<div class="urip_follo_link">
									<ul>
										<li><a href="#" class="liks light-dark">Live Demo</a></li>
										<li><a href="#" class="liks gree_button">Screenshots</a></li>
									</ul>
								</div>
							</div>
							<div class="_uy76_noted">
								<blockquote class="noted">
									Note: This is only HTML Template	
								</blockquote>
							</div>
							<div class="_uy76_caption">
								<div class="g6">
									Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
								</div>
								<div class="g6">
									At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio.
								</div>
								<div class="_uy76_noted">
									<blockquote>
										<p class="quote"><span class="big">“</span>Actually or the tone play is the curiously, was have out fully than pervasively got derisively empty<span class="big">“</span></p>
									</blockquote>
								</div>
								<div class="g6">
									Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur
								</div>
								<div class="g6">
									<h2 id="item-description__features-list">Features list</h2>
									<ul>
										<li>HTML5 &amp; CSS3</li>
										<li>Built with Bootstrap 3.3</li>
										<li>Freelancing Page</li>
										<li>Ads Management </li>
										<li>40+ All Pages</li>
										<li>Responsive design</li>
										<li>Multi Color Option</li>
										<li>Premium Job Option</li>
										<li>Dashboard Include</li>
										<li>Multi Search, Resume &amp; Employer Pages</li>
										<li>Well documented</li>
										<li>Creative Design</li>
										<li>6 Home Pages</li>
										<li>2 Blog Page</li>
										<li>26 Inner Pges</li>
										<li>Developer friendly code</li>
										<li><strong>Easy to customize</strong></li>
										<li>FontAwesome <strong>600+ icons</strong></li>
										<li>ICONS ET-LINE <strong>100+ icons</strong></li>
									</ul>
								</div>
								<div class="g6">
									<a href="#" class="_bh875">Purchage Now</a>
								</div>
							</div>
						</div>
						
						<!-- Sidebar Start -->
						<div class="col-lg-4 col-md-12 col-sm-12">
							<!-- Selecr License -->
							<div class="urip_widget_wrap shadow_0 mb-4">
							
								<div class="urip_widget_header bg__2">
									<h4>Select License</h4>
									<span>Choose Suitable License</span>
								</div>
								
								<div class="urip_widget_body">
									<form>
										<!-- Regular License -->
										<div class="urip_single_license">
											<div class="urip_license_lko">
												<div class="urip_license_123">
													<ul class="no-ul-list filter-list">
														<li>
															<input id="urip1" class="radio-custom" name="license" type="radio" checked="">
															<label for="urip1" class="radio-custom-label"></label>
														</li>
													</ul>
												</div>
												<div class="urip_license_124">
													<h5 class="urip_license_title">Regular License<img src="../static/assets/img/selected.svg" class="img-fluid ml-1" width="15" alt="selected"></h5>
													<div class="urip_desc">Use or by you or onle client in a single we end.</div>
												</div>
											</div>
											<div class="urip_license_next">
												<span class="urip_purchase_price">$39</span>
											</div>
										</div>
										
										<!-- Regular License -->
										<div class="urip_single_license">
											<div class="urip_license_lko">
												<div class="urip_license_123">
													<ul class="no-ul-list filter-list">
														<li>
															<input id="urip2" class="radio-custom" name="license" type="radio">
															<label for="urip2" class="radio-custom-label"></label>
														</li>
													</ul>
												</div>
												<div class="urip_license_124">
													<h5 class="urip_license_title">Extended License</h5>
													<div class="urip_desc">Use or by you or onle client in a single we end.</div>
												</div>
											</div>
											<div class="urip_license_next">
												<span class="urip_purchase_price">$499</span>
											</div>
										</div>
										
										<!-- Commercial License -->
										<div class="urip_single_license none">
											<div class="urip_license_lko">
												<div class="urip_license_123">
													<ul class="no-ul-list filter-list">
														<li>
															<input id="urip3" class="radio-custom" name="license" type="radio">
															<label for="urip3" class="radio-custom-label"></label>
														</li>
													</ul>
												</div>
												<div class="urip_license_124">
													<h5 class="urip_license_title">Commercial License</h5>
													<div class="urip_desc">Use or by you or onle client in a single we end.</div>
												</div>
											</div>
											<div class="urip_license_next">
												<span class="urip_purchase_price">$999</span>
											</div>
										</div>
										
										<div class="_purchagser_buttons">
											<a href="javascript:void(0);" class="_yt5r_buy">Purchase Now</a>
										</div>
									</form>
								</div>
							</div>
							
							<!-- Author Info -->
							<div class="urip_widget_wrap shadow_0 mb-4 large">
								<div class="urip_widget_avater">
									<a href="author-portfolio.html"><img src="../static/assets/img/author.png" class="img-fluid circle" alt=""></a>
									<div class="veryfied_author"><img src="../static/assets/img/verified.svg" class="img-fluid" width="15" alt=""></div>
								</div>
								<div class="widget_avater_124">
									<h4 class="avater_name_214"><a href="author-portfolio.html">Digital Studio</a></h4>
									<span>Member since Sep 2016</span>
								</div>
								<div class="widget_avater_124">
									<ul class="auhor_list_badges">
										<li><img src="../static/assets/img/golden.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="../static/assets/img/1st.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="../static/assets/img/2year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="../static/assets/img/3year.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="../static/assets/img/platinum.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="../static/assets/img/green-elite.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="../static/assets/img/gold-medal.svg" class="img-avater rounded" width="40" alt=""></li>
										<li><img src="../static/assets/img/smart.svg" class="img-avater rounded" width="40" alt=""></li>
									</ul>
								</div>
								<div class="widget_lkpi">
									<ul class="auhor_info_list_215">
										<li><div class="urip_jbl"><span class="count">102</span>K</div><span class="smallest">Sales</span></li>
										<li><div class="urip_jbl urip_rates good">4.7</div><a href="javascript:void(0)"><span class="smallest">42Reviews</span></a></li>
										<li><div class="urip_jbl">152</div><a href="javascript:void(0)"><span class="smallest">Comments</span></a></li>
									</ul>
								</div>
								<div class="widget_avater_423">
									<a href="author-portfolio.html" class="link_portfolio">View Portfolio</a>	
								</div>
							</div>
							
							<!-- Product Information -->
							<div class="urip_widget_wrap shadow_0 mb-4">
							
								<div class="urip_widget_header bg__2">
									<h4>Product Information</h4>
								</div>
								
								<div class="urip_widget_body">
									<div class="dp_detail_infobox">
								
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												Created:
											</div>
											<div class="dp_single_list_info">
												10 July 2020
											</div>
										</div>
										
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												Last update:
											</div>
											<div class="dp_single_list_info">
												28 Aug 2020
											</div>
										</div>
										
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												Gutenberg Optimized:
											</div>
											<div class="dp_single_list_info">
												Yes
											</div>
										</div>
										
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												High Resolution:
											</div>
											<div class="dp_single_list_info">
												yes
											</div>
										</div>
										
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												Widget Ready:
											</div>
											<div class="dp_single_list_info">
												Yes
											</div>
										</div>
										
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												Compatible Browsers:
											</div>
											<div class="dp_single_list_info">
												<a href="javascript:void(0);">IE10</a>, <a href="javascript:void(0);">IE11</a>, <a href="javascript:void(0);">Firefox</a>, <a href="javascript:void(0);">Safari</a>, <a href="javascript:void(0);">Opera</a>
											</div>
										</div>
										
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												Compatible With:
											</div>
											<div class="dp_single_list_info">
												<a href="javascript:void(0);">Elementor</a>, <a href="javascript:void(0);">WooCommerce 3.5</a>, <a href="javascript:void(0);">WooCommerce 4.1</a>, <a href="javascript:void(0);">WooCommerce 4.2</a>, <a href="javascript:void(0);">WooCommerce 4.7</a>
											</div>
										</div>
										
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												Software Version:
											</div>
											<div class="dp_single_list_info">
												<a href="javascript:void(0);">WordPress 4.5.x</a>, <a href="javascript:void(0);">WordPress 4.3.x</a>, <a href="javascript:void(0);">WordPress 5.3.x</a>, <a href="javascript:void(0);">WordPress 5.4.x</a>
											</div>
										</div>
										
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												Files Included:
											</div>
											<div class="dp_single_list_info">
												<a href="javascript:void(0);">PHP Files</a>, <a href="javascript:void(0);">CSS</a>, <a href="javascript:void(0);">JS Files</a>, <a href="javascript:void(0);">HTML Files</a>, <a href="javascript:void(0);">Sass Files</a>
											</div>
										</div>
										
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												Documentation:
											</div>
											<div class="dp_single_list_info">
												Yes
											</div>
										</div>
										
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												Layout:
											</div>
											<div class="dp_single_list_info">
												Responsiveness
											</div>
										</div>
										
										<div class="dp_single_list">
											<div class="dp_single_list_title">
												Tags:
											</div>
											<div class="dp_single_list_info">
												<a href="javascript:void(0);">job</a>, <a href="javascript:void(0);">resume</a>, <a href="javascript:void(0);">fashion</a>, <a href="javascript:void(0);">candidates</a>, <a href="javascript:void(0);">employer</a>
											</div>
										</div>
										
									</div>
								</div>
							</div>
							
						</div>
					
					</div>
				</div>
			</section>
			<!-- ============================ Item Detail Start ================================== -->
			
			<!-- ============================ Call To Action Start ================================== -->
			<section class="call-to-act" style="background:#5d47dd url(../static/assets/img/landing-bg.png) no-repeat">
				<div class="container">
					<div class="row justify-content-center">
					
						<div class="col-lg-7 col-md-8">
							<div class="clt-caption text-center mb-4">
								<h3>Subscribe Now!</h3>
								<p>Simple pricing plans. Unlimited web maintenance service</p>
							</div>
							<div class="inner-flexible-box subscribe-box">
								<div class="input-group">
									<input type="text" class="form-control large" placeholder="Enter your mail here">
									<button class="btn btn-subscribe" type="button"><i class="fa fa-arrow-right"></i></button>
								</div>
							</div>
						</div>				
					</div>
				</div>
			</section>
			<!-- ============================ Call To Action End ================================== -->
			
			<!-- =========================== Footer Start ========================================= -->
			<footer class="dark-footer skin-dark-footer">
				<div>
					<div class="container">
						<div class="row">
							
							<div class="col-lg-4 col-md-6">
								<div class="footer-widget">
									<img src="../static/assets/img/logo-light.png" class="img-fluid f-logo" width="120" alt="">
									<p>407-472 Rue Saint-Sulpice, Montreal<br>Quebec, H2Y 2V8</p>
									<ul class="footer-bottom-social">
										<li><a href="#"><i class="ti-facebook"></i></a></li>
										<li><a href="#"><i class="ti-twitter"></i></a></li>
										<li><a href="#"><i class="ti-instagram"></i></a></li>
										<li><a href="#"><i class="ti-linkedin"></i></a></li>
									</ul>
								</div>
							</div>		
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Useful links</h4>
									<ul class="footer-menu">
										<li><a href="about.html">About Us</a></li>
										<li><a href="faq.html">FAQs Page</a></li>
										<li><a href="billing.html">Checkout</a></li>
										<li><a href="login.html">Login</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Developers</h4>
									<ul class="footer-menu">
										<li><a href="#">Booking</a></li>
										<li><a href="#l">Stays</a></li>
										<li><a href="#">Adventures</a></li>
										<li><a href="#">Author Detail</a></li>
									</ul>
								</div>
							</div>
							
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Useful links</h4>
									<ul class="footer-menu">
										<li><a href="about.html">About Us</a></li>
										<li><a href="faq.html">Jobs</a></li>
										<li><a href="#">Events</a></li>
										<li><a href="#">Press</a></li>
									</ul>
								</div>
							</div>
									
							<div class="col-lg-2 col-md-4">
								<div class="footer-widget">
									<h4 class="widget-title">Useful links</h4>
									<ul class="footer-menu">
										<li><a href="#">Support</a></li>
										<li><a href="contact.html">Contact Us</a></li>
										<li><a href="#">Privacy &amp; Terms</a></li>
									</ul>
								</div>
							</div>
							
						</div>
					</div>
				</div>
				
				<div class="footer-bottom">
					<div class="container">
						<div class="row align-items-center">
							
							<div class="col-lg-12 col-md-12 text-center">
								<p class="mb-0">© 2021 Pecozo. Designd By <a href="http://Bootstrapmb.com">Themez Hub</a> All Rights Reserved</p>
							</div>
							
						</div>
					</div>
				</div>
			</footer>
			<!-- =========================== Footer End ========================================= -->
			
			<!-- Switcher Start -->
			<div class="w3-ch-sideBar w3-bar-block w3-card-2 w3-animate-right"  style="display:none;right:0;" id="rightMenu">
				<div class="_oli987">
					<h4 class="cart_heading">Your cart</h4>
					<button onclick="closeRightMenu()" class="w3-bar-item w3-button w3-large"><i class="ti-close"></i></button>
				</div>
				<div class="rightMenu-scroll">
					<div class="right-ch-sideBar" id="side-scroll">
						
						<div class="cart_select_items">
							<!-- Single Item -->
							<div class="cart_selected_single">
								<div class="cart_selected_single_thumb">
									<a href="#"><img src="../static/assets/img/logos-4.png" class="img-fluid" alt="" /></a>
								</div>
								<div class="cart_selected_single_caption">
									<h4 class="product_title">Orio - Online Multipurpose WordPress Theme</h4>
									<span class="numberof_item">$59</span>
									<a href="#" class="text-danger">Remove</a>
								</div>
							</div>
							<!-- Single Item -->
							<div class="cart_selected_single">
								<div class="cart_selected_single_thumb">
									<a href="#"><img src="../static/assets/img/logos-3.png" class="img-fluid" alt="" /></a>
								</div>
								<div class="cart_selected_single_caption">
									<h4 class="product_title">LearnUp - Online LMS WordPress Theme</h4>
									<span class="numberof_item">$39</span>
									<a href="#" class="text-danger">Remove</a>
								</div>
							</div>
							<!-- Single Item -->
							<div class="cart_selected_single">
								<div class="cart_selected_single_thumb">
									<a href="#"><img src="../static/assets/img/logos-2.png" class="img-fluid" alt="" /></a>
								</div>
								<div class="cart_selected_single_caption">
									<h4 class="product_title">Cario - Digital WordPress Theme</h4>
									<span class="numberof_item">$15x2</span>
									<a href="#" class="text-danger">Remove</a>
								</div>
							</div>
						</div>
						
						<div class="cart_subtotal">
							<h6>Subtotal<span class="theme-cl">$120.47</span></h6>
						</div>
						
						<div class="cart_action">
							<ul>
								<li><a href="" class="btn btn_checkout">Checkout Now</a></li>
							</ul>
						</div>
						
					</div>
				</div>
			</div>
			
			<!-- Log In Modal -->
			<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="registermodal" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered login-pop-form" role="document">
					<div class="modal-content" id="registermodal">
						<div class="modal-header">
							<h4>Close Window</h4>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="ti-close"></i></span></button>
						</div>
						<div class="modal-body">
							<h4 class="modal-header-title">Sign <span class="theme-cl">In</span></h4>
							
							<div class="login-form">
								<form>
								
									<div class="form-group">
										<label>User Name</label>
										<div class="input-with-gray light">
											<input type="text" class="form-control" placeholder="Username">
										</div>
									</div>
									
									<div class="form-group">
										<label>Password</label>
										<div class="input-with-gray light">
											<input type="password" class="form-control" placeholder="*******">
										</div>
									</div>
									
									<div class="form-group">
										<button type="submit" class="btn theme-bg btn-md full-width pop-login">Login</button>
									</div>
								
								</form>
							</div>
							
							<div class="form-group text-center">
								<span>Or Signup with</span>
							</div>
							
							<div class="social_logs mb-4">
								<ul>
									<li class="fb-login"><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li class="gp-login"><a href="#"><i class="fa fa-google-plus"></i></a></li>
									<li class="ln-login"><a href="#"><i class="fa fa-linkedin"></i></a></li>
								</ul>
							</div>
							
						</div>
						<div class="modal-footer">
							<div class="mf-link"><i class="ti-user"></i>Haven't An Account?<a href="javascript:void(0)" class="theme-cl"> Sign Up</a></div>
							<div class="mf-forget"><a href="#"><i class="ti-help"></i>Forget Password</a></div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Modal -->		

		</div>
		<!-- ============================================================== -->
		<!-- End Wrapper -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- All Jquery -->
		<!-- ============================================================== -->
		<script src="../static/assets/js/jquery.min.js"></script>
		<script src="../static/assets/js/popper.min.js"></script>
		<script src="../static/assets/js/bootstrap.min.js"></script>
		<script src="../static/assets/js/select2.min.js"></script>
		<script src="../static/assets/js/owl.carousel.min.js"></script>
		<script src="../static/assets/js/ion.rangeSlider.min.js"></script>
		<script src="../static/assets/js/counterup.min.js"></script>
		<script src="../static/assets/js/custom.js"></script>
		<!-- ============================================================== -->
		<!-- This page plugins -->
		<!-- ============================================================== -->
		
		<script>
			function openRightMenu() {
				document.getElementById("rightMenu").style.display = "block";
			}
			function closeRightMenu() {
				document.getElementById("rightMenu").style.display = "none";
			}
		</script>
		
	</body>
</html>